/* 对滚动条进行处理 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #dddee0;
}

/* 一行省略 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 常用 flex */
.flx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flx-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flx-align-center {
  display: flex;
  align-items: center;
}
